[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "NonProbEst"]
	path = NonProbEst
	url = https://github.com/cran/NonProbEst
	shallow = true
	registered = true
